<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-icon id="tree-icon">park</mat-icon> Lista sensorów
</mat-toolbar>
<main>
    <div *ngIf="sensors && dataSource" class="sensor-list-table mat-elevation-z8">
        <table
            mat-table
            [dataSource]="dataSource"
            class="sensor-list-table"
        >
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID sensora</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef>Model sensora</th>
            <td mat-cell *matCellDef="let element">{{ element.model }}</td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Typ sensora</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button disabled="true">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button disabled="true">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator #paginator [pageSize]="10"
                        [length]="sensors.length"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    <button class="add-button" mat-fab color="primary" (click)="onShowDialogButtonClick()">
        <mat-icon>add</mat-icon>
    </button>
</main>