<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-icon id="tree-icon">park</mat-icon> Lista sensorów
</mat-toolbar>
<div class="routing">
    <a routerLink="/"><button class="btn btn-primary" > Home </button></a>
</div>
<main>
    <div *ngIf="sensors && dataSource" class="sensor-list-table mat-elevation-z8">
        <table
            mat-table
            [dataSource]="dataSource"
            class="sensor-list-table"
        >
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID czujnika</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Typ czujnika</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>
        <ng-container matColumnDef="cord">
            <th mat-header-cell *matHeaderCellDef>Koordynaty czujnika</th>
            <td mat-cell *matCellDef="let element">{{ 'lat: ' + element.location.lat + ' long: ' + element.location.long }}</td>
        </ng-container>
        <ng-container matColumnDef="forestry_id">
            <th mat-header-cell *matHeaderCellDef>Identyfikator przypisanego leśnictwa</th>
            <td mat-cell *matCellDef="let element">{{ element.forestry_id ? element.forestry_id : '---' }}</td>
        </ng-container>
        

        <ng-container matColumnDef="forestry">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-button (click)="onAssignForestryButtonClick(element.id)">
                    {{ !element.forestry_id ? "Wybierz leśnictwo" : "Zmień leśnictwo" }}
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator #paginator [pageSize]="10"
                        [length]="sensors.length"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    <button class="add-button" mat-fab color="primary" (click)="onShowDialogButtonClick()">
        <mat-icon>add</mat-icon>
    </button>
</main>