.mat-dialog-actions {
  justify-content: center;
}
.title {
  text-align: center;
}
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.formField {
    width: 100%;
}
.shortFormField {
    width: 20%;
    margin-right: 10px;
}